# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Open in GitX': 'open-in-gitx:open'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'GitX'
      'submenu': [
        { 'label': 'Open in GitX', 'command': 'open-in-gitx:open' }
      ]
    ]
  }
]
